.mbslider-wrapper {
  overflow: hidden;
  background-color: #ccc;
  width: 50%;
  position: relative;
}
.mbslider {
  position: relative;
}
.mbslider > figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@keyframes slidefade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideswipe {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.mbslider > figure figcaption, .mbslider_prev, .mbslider_next {
  font-size: 3rem;
}
.mbslider > figure figcaption {
  position: absolute;
  width: fit-content;
  padding: 0 1rem;
  height: auto;
  top: 0;
  left: 2%;
  margin-top: 2%;
  color: #fff;
  background-color: rgb(0,0,0,0.6);
  animation: fadeleft 2s;
}
@keyframes fadeleft {
  0% {
    left: 50%;
  }
  100% {
    left: 2%;
  }
}
.mbslider_prev, .mbslider_next {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: #eee;
  padding: 0 0 0.5rem;
}
.mbslider_prev {
  left: 2%;
}
.mbslider_next {
  right: 2%;
}
.mbslider_prev:hover, .mbslider_next:hover {
  color: #eee;
}
